h1 {
  font-size: 5rem;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.magnify-icon {
  color: black;
}

.search-input {
  width: 25rem;
  height: 2rem;
  border: none;
  border-radius: 5rem;
  text-align: center;
}