.Search {
  text-align: center;
}

.search-input {
  background: transparent;
  border: 1px solid black;
  color: var(--synonym-color);
  width: 20rem;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-style: italic;
}

.hint {
  font-family: 'Work Sans', sans-serif;

}


/* removes x from search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}