* {
  margin: 0;
  padding: 0;
}


:root {
  --speech-color: #83635C;
  --search-color: #92886F;
  --word-type-color: #A25937;
  --box-color: #f8f3f3d2;
  --example-color: rgb(180, 129, 87);
  --syn-color: rgb(143, 39, 39);
  /* change of width sizes for media queries */
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  padding: 20px;
  background: url(images/wood.jpeg);
  color: white;
}


h1 {
  font-size: 5rem;
  text-align: center;
  color: var(--word-type-color);
}

h2 {
  color: var(--search-color);
}

h3 {
  color: var(--speech-color);
}

button {
  background: transparent;
  border: none;
  color: rgb(180, 129, 87);
  font-size: 2rem;
  padding-top: 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

section {
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 2rem;
  color: rgba(8, 8, 8, 0.993);
  background-size: cover;
  background-color: rgba(6, 6, 6, 0.636);
}

/* synonyms component */
.syn {
  color: var(--syn-color);
  font-weight: bold;
  border: none;
  background-color: rgba(0, 0, 0, 0.579);
  border-radius: 5px;
  padding: 0 5px 5px 5px;
  margin-left: 10px;
}

/* search component */
.search-input {
  width: 35rem;
  height: 2rem;
  border: none;
  border-radius: 5rem;
  text-align: center;
}

/* meaning component */
.example {
  color: var(--example-color);
  padding-left: 15px;
}